<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
  margin: 35px;
  float: left;
  width: 400px;
  flex-direction: row;
}

div.gallery:hover {
  border: 1px solid #777;
  flex-direction: row;
}

div.gallery img {
  width: 100%;
  height: auto;
  flex-direction: row;
}

div.desc {
  padding: 15px;
  text-align: center;
}

</style>
</head>
<body style="background-color:grey;">

<div class="gallery">
  <a target="_blank" href="static/Uncomfortable/Wiertz/Baby.JPG">
    <img src="static/Uncomfortable/Wiertz/Baby.jpg" alt="img_Baby" width="600" height="400">
  </a>
  <div class="desc"><p align="center"><a href=wiertz ><button class=grey style="height:50px;width:75px">Antoine Wiertz</button></a></p></div>
</div>

<div class="gallery">
  <a target="_blank" href="static/Uncomfortable/Ensor/SkeletonsFish.jpg">
    <img src="static/Uncomfortable/Ensor/SkeletonsFish.jpg"" alt="img_Skeleton" width="600" height="400">
  </a>
  <div class="desc"><p align="center"><a href=ensor ><button class=grey style="height:50px;width:75px">James Ensor</button></a></p></div>
</div>

<div class="gallery">
  <a target="_blank" href="static/Uncomfortable/Spilliaert/Sepia.jpg">
    <img src="static/Uncomfortable/Spilliaert/Sepia.jpg" alt="img_Sepia" width="600" height="400">
  </a>
  <div class="desc"><p align="center"><a href=spilliaert ><button class=grey style="height:50px;width:75px">Leon Spilliaert</button></a></p></div>
</div>


</body>
</html>