<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
  margin: 35px;
  float: left;
  width: 400px;
  flex-direction: row;
}

div.gallery:hover {
  border: 1px solid #777;
  flex-direction: row;
}

div.gallery img {
  width: 100%;
  height: auto;
  flex-direction: row;
}

</style>
</head>
<body style="background-color:grey;">

<div class="gallery">
  <a target="_blank" href="static/Uncomfortable/Baby.JPG">
    <img src="static/Uncomfortable/Baby.jpg" alt="img_Baby" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="static/Uncomfortable/Carrot.jpg">
    <img src="static/Uncomfortable/Carrot.jpg" alt="img_Carrot" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="static/Uncomfortable/Head.jpg">
    <img src="static/Uncomfortable/Head.jpg" alt="img_Head" width="600" height="400">
  </a>
</div>

<div class="gallery">
  <a target="_blank" href="static/Uncomfortable/Modern.jpg">
    <img src="static/Uncomfortable/Modern.jpg" alt="img_Modern" width="600" height="400">
  </a>
</div>

</body>
</html>